.profile-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
}

.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.mt-3 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    text-align: center;
}
.btn-custom {
    border-radius: 20px;
    padding: 5px 20px;
}
h3 {
    font-size: 1.1rem;
}